functions-framework==3.*
cloud-sql-python-connector[asyncpg]==1.*
sqlalchemy==2.*
asyncpg==0.*
psycopg2-binary==2.*
substack-api==1.1.1
httpx==0.27.*
requests==2.* 
openai==1.88.0
python-dotenv==1.*
pydantic==2.10.4
pydantic-ai-slim[openai]==0.3.5
pydantic-core==2.27.2
pydantic-graph==0.3.5
pydantic-settings==2.7.0